*{
    box-sizing: border-box;
}

section {
    width: 60vw;
    height: 90vw;
    border: 1px solid black;
    background-color: rgb(212, 212, 212);
    padding: 10px;

    input{
        height: 30px;
        padding: 5px;
    }

    button {
        background-color: rgb(51, 51, 51);
        color: #fff;
        padding: 5px;
    }

    table{
        border-collapse: collapse;
        width: 100%;
        th, tr, td{
            padding: 5px;
            text-align: center;
        }

        tr {
            border-bottom: 1px solid black;
        }
    }
}
